body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:364px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4766 label {
  left:0px;
  width:100%;
}
#u4766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u4766 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:11px;
  width:351px;
  height:16px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u4766 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u4766_img.selected {
}
#u4766.selected {
}
#u4766_img.disabled {
}
#u4766.disabled {
}
#u4766_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:335px;
  word-wrap:break-word;
  text-transform:none;
}
#u4766_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u4767 label {
  left:0px;
  width:100%;
}
#u4767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:12px;
  height:12px;
}
#u4767 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:53px;
  width:351px;
  height:48px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u4767 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u4767_img.selected {
}
#u4767.selected {
}
#u4767_img.disabled {
}
#u4767.disabled {
}
#u4767_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:335px;
  word-wrap:break-word;
  text-transform:none;
}
#u4767_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u4768 label {
  left:0px;
  width:100%;
}
#u4768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u4768 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:150px;
  width:351px;
  height:16px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u4768 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u4768_img.selected {
}
#u4768.selected {
}
#u4768_img.disabled {
}
#u4768.disabled {
}
#u4768_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:335px;
  word-wrap:break-word;
  text-transform:none;
}
#u4768_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u4769 label {
  left:0px;
  width:100%;
}
#u4769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:12px;
  height:12px;
}
#u4769 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:203px;
  width:351px;
  height:32px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u4769 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u4769_img.selected {
}
#u4769.selected {
}
#u4769_img.disabled {
}
#u4769.disabled {
}
#u4769_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:335px;
  word-wrap:break-word;
  text-transform:none;
}
#u4769_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u4770 label {
  left:0px;
  width:100%;
}
#u4770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:12px;
  height:12px;
}
#u4770 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:277px;
  width:351px;
  height:32px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u4770 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u4770_img.selected {
}
#u4770.selected {
}
#u4770_img.disabled {
}
#u4770.disabled {
}
#u4770_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:335px;
  word-wrap:break-word;
  text-transform:none;
}
#u4770_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u4771 label {
  left:0px;
  width:100%;
}
#u4771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u4771 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:353px;
  width:351px;
  height:16px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u4771 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u4771_img.selected {
}
#u4771.selected {
}
#u4771_img.disabled {
}
#u4771.disabled {
}
#u4771_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:335px;
  word-wrap:break-word;
  text-transform:none;
}
#u4771_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u4772 label {
  left:0px;
  width:100%;
}
#u4772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:12px;
  height:12px;
}
#u4772 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:398px;
  width:351px;
  height:32px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u4772 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u4772_img.selected {
}
#u4772.selected {
}
#u4772_img.disabled {
}
#u4772.disabled {
}
#u4772_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:335px;
  word-wrap:break-word;
  text-transform:none;
}
#u4772_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u4773 label {
  left:0px;
  width:100%;
}
#u4773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u4773 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:473px;
  width:351px;
  height:16px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u4773 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u4773_img.selected {
}
#u4773.selected {
}
#u4773_img.disabled {
}
#u4773.disabled {
}
#u4773_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:335px;
  word-wrap:break-word;
  text-transform:none;
}
#u4773_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u4774 label {
  left:0px;
  width:100%;
}
#u4774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u4774 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:521px;
  width:351px;
  height:16px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u4774 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u4774_img.selected {
}
#u4774.selected {
}
#u4774_img.disabled {
}
#u4774.disabled {
}
#u4774_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:335px;
  word-wrap:break-word;
  text-transform:none;
}
#u4774_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u4775 label {
  left:0px;
  width:100%;
}
#u4775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:12px;
  height:12px;
}
#u4775 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:564px;
  width:351px;
  height:48px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u4775 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u4775_img.selected {
}
#u4775.selected {
}
#u4775_img.disabled {
}
#u4775.disabled {
}
#u4775_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:335px;
  word-wrap:break-word;
  text-transform:none;
}
#u4775_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
