body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:364px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4758 label {
  left:0px;
  width:100%;
}
#u4758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u4758 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:11px;
  width:351px;
  height:16px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u4758 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u4758_img.selected {
}
#u4758.selected {
}
#u4758_img.disabled {
}
#u4758.disabled {
}
#u4758_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:335px;
  word-wrap:break-word;
  text-transform:none;
}
#u4758_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u4759 label {
  left:0px;
  width:100%;
}
#u4759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u4759 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:41px;
  width:351px;
  height:16px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u4759 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u4759_img.selected {
}
#u4759.selected {
}
#u4759_img.disabled {
}
#u4759.disabled {
}
#u4759_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:335px;
  word-wrap:break-word;
  text-transform:none;
}
#u4759_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
