*{
    padding:0;
    margin: 0;
    border: 0;
    font-family: "微软雅黑";
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    font-size: 100px;
}

html,
body {
    height: 100%;
}
body {
    background: url(../../static/images/bg.jpg) no-repeat center;
    background-size: 100% 100%;
    color: #fff;
}
a{
    text-decoration: none;
}
ul,li{
    list-style: none;
}
.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
    line-height: 0
}
.f12 {
    font-size: 0.12rem;
}

.f14 {
    font-size: 0.14rem;
}

.f16 {
    font-size: 0.16rem;
}

.f18 {
    font-size: 0.18rem;
}


.title-box {
    height: 12vh;
    background: url(../../static/images/logo-bg.png) no-repeat center;
    background-size: auto 100%;
    position: relative;
}

.title-box .time-box {
    position: absolute;
    right: 2vw;
    top: 0;
    line-height: 8vh;
    color: #7298d7;
}
.hbDpBox1{
    height: 52vh;
    padding: 0 1.6vw;
}
.hbDpBox2{
    height: 36vh;
}
.hbDpLBox,.hbDpZBox ,.hbDpRBox{
    float: left;
    width: 29.5%;
    height: 100%;
    padding: 0 1.6vw;
}
.hbDpZBox2{
    width: 41%;
}
.draftBox,.newManuscriptBox{
    overflow: hidden;
}

.dpTitle1{
    height: 35px;
    background: url(../../static/images/hbDp_03.png) no-repeat;
    background-size: 100% 100%;
    font-size: 16px;
    font-weight: bold;
    line-height: 28px;
    color: #fff;
}
.dpTitle2{
    height: 45px;
    background: url(../../static/images/hbDp_05.png) no-repeat;
    background-size: contain;
    font-size: 16px;
    font-weight: bold;
    line-height: 35px;
    color: #fff;
    background-position-y:20px;
}
.stage{
    margin-top: 1.2vh;
    height: 46vh;
    position: relative;
    overflow: hidden;
}

.stage ul{
    position: absolute;
    top: 0;
    width: 100%;
}
.stage ul li{
    height:36px;
    overflow: hidden;
}
.draftName{
    float: left;
    width: 28%;
    font-size:14px ;
    color: #02baeb;
    font-weight: bold;
    text-align: right;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    margin-right: 20px;
}

.stage ul li .draftRlist{
    overflow: hidden;
}
.stage ul li .draftRlist .draftRT{
    width: 60%;
    float: left;
    margin-right:3%;
    margin-top: 5px;
}
.stage ul li .draftRlist .draftRT div{
    height: 12px;
    background: -webkit-linear-gradient(left, #0591eb , #08e2f1); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #0591eb, #08e2f1); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #0591eb, #08e2f1); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #0591eb , #08e2f1); /* 标准的语法 */
    border-radius: 0 50px 50px 0;
}
.stage ul li .draftRlist .draftRW{
    float: left;
    display: inline-block;
    margin-left: 10px;
    color: #08e0f1;
    font-size: 12px;
    overflow: hidden;
}

.newManuscript{
    margin-top: 1.2vh;
    height: 48vh;
}
.newManuscriptHeader{
    height: 40px;
    line-height: 40px;
    background: url(../../static/images/hbDp_133.png);
    background-size: contain;
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.newManuscriptHeader div{
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.newManuscriptC{
    position: relative;
    height:48vh;
    overflow: hidden;
}
.newManuscriptCBox{
    padding-bottom: 20px;

    background: url(../../static/images/hbDp_30.png);
}
.newManuscriptC ul{
    /*width: 100%;*/
    position: absolute;
    top: 0;
}
.newManuscriptC ul li{
    overflow: hidden;
    height: 36px;
    line-height: 36px;
    font-size: 13px;
    color: #c1e7ff;
    box-sizing: border-box;
    border-bottom: 1px solid #357ab2;
    display:table;table-layout:fixed;width:100%;
    padding-left: 15px;
}
.manuscriptTitle{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    display:table-cell;
    text-align: center;
}
.manuscriptName{
    color: #82caf7;
    display:table-cell;
    text-align: center;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.manuscriptTime{
    color: #57ade3;
    display:table-cell;
    text-align: center;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.content{
    margin-top: 1.2vh;
    height: 46vh;
}

.visitNum{
    /*overflow: hidden;*/
}
.visitNumTBox{
   position: relative;
    text-align: center;
}
.visitNumTBox p{
    position: absolute;
    top: 0;
    left: 0;
    line-height: 5.6vh;
    height: 5.6vh;
    color: #00d0f2;
}

.visitNumTBox ul{
    padding-left: 2vw;
}

.visitNumTBox ul li{
    display: inline-block;
    width: 2.3vw;
    height: 6vh;
    text-align: center;
    line-height: 5.6vh;
    background: url(../../static/images/num-bg.png) no-repeat center;
    background-size:cover;
    color: #f9d98b;
    font-weight: bold;
}


.visitNumTBox .visitNumTPlast{
   left: auto;
    right: 0;
}
 .content .warehousing {
    height: 7vh;
    margin: 1.8vh 0 1vh;
}

.content .warehousing div {
    width: 46%;
    height: 100%;
    padding: 0 0.8vw 0 3.4vw;
    position: relative;
    background: url(../../static/images/warehousing1.png) no-repeat;
    background-size: 100% 100%;
}

 .content .warehousing div.fr {
    background: url(../../static/images/warehousing2.png) no-repeat;
    background-size: 100% 100%;
}

 .content .warehousing div p {
    height: 3.5vh;
    line-height: 3.5vh;
     color: #08daf0;
}
 .warehousing div p small:nth-child(1){
    color: #f9d98a;
}
 .warehousing div p small:nth-child(2){
    color: #08daf0;
}

 .content .warehousing div p:last-child {
    line-height: 1.2vh;
}

.content .warehousing div p i {
    font-style: normal;
    color: #fff;
}

.dpAlertBox{
    height: 6vh;
    margin-top: 1.2vh;
}
.dpAlertBox span {
    background: rgba(78, 180, 255, 0.3);
    width: 46%;
    height: 5vh;
    line-height: 5vh;
    text-align: center;
}
.dpAlertBox span img {
    height: 2.2vh;
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.5vw;
}


.dpFlow{
    background: rgba(78, 180, 255, 0.1);;
    height: 20vh;
    position: relative;
}
.dpFlow p{
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    left: 20px;
    top: 8px;
}
#dpFlowEchart{
  width: 100%;
    height: 20vh;
}
.mt56{
    margin-top:2vh;
}

#hotWordsT{
    width: 100%;
    height: 28vh;
    position: relative;
}

#hotWords2T {
    width: 100%;
    height: 28vh;
    position: relative;

}

.dpKh{
    border-radius: 3px;
    border:2px solid #156fae;
    margin-top: 1.2vh;
    background:  url(../../static/images/hbDp_13.png) no-repeat;
}
.dpKhHeader{
    height: 36px;
    border-bottom: 2px solid #156fae;
    line-height: 36px;
    font-size: 14px;
    color: #fff;
    display: flex;
}
.dpKhHeader div{
    text-align: center;
    flex: 1;
}
.dpKhHeader div:nth-child(even){
    border-right: 2px solid #156fae;
    box-sizing: border-box;
}
.dpKhHeader div:last-child{
    border-right: none;
}
.dpKhUlBox{
    background: url(../../static/images/hbDp_30.png);
    min-height: 20vh;
    height: 20vh;
    position: relative;
    overflow: hidden;
}
.dpKhUlBox ul{
    position: absolute;
    top: 0;
    width: 100%;
}
.dpKhUlBox ul li{
    height: 36px;
    border-bottom: 2px solid #156fae;
    line-height: 36px;
    font-size: 0.12rem;
    color: #a2dbff;
    box-sizing: border-box;
    display: flex;
}
.ryjx_box ul li{
    height: 45px;
    line-height: 45px;
}
.dpKhUlBox ul li div{
    flex:1;
    text-align: center;
}


.dpKhUlBox ul li div:nth-child(even){
    border-right: 2px solid #156fae;
    box-sizing: border-box;
}

.dpKhUlBox ul li div:last-child{
    border-right: none;
}



